.square {
	align-items: center;
	border: 1px solid black;
	display: flex;
	height: 25px;
	justify-content: center;
	width: 25px;
}

.fade {
	animation: fade 0.5s ease-in-out;
}

@keyframes fade {
	0% {
		background-color: cyan;
	}
	100% {
		background-color: white;
	}
}

.origin {
	background-color: yellow;
}

.distance {
	font-weight: bold;
}