.square {
	align-items: center;
	border: 1px solid black;
	display: flex;
	height: 50px;
	justify-content: center;
	width: 50px;
}

.origin {
	background-color: yellow;
}

.activated {
	background-color: lime;
}

.distance {
	font-weight: bold;
}